#links_menu ul {
    padding: 0px;
	margin: 0px;
    list-style:none;
	font-family: verdana;
	text-align: center;
}

#links_menu li { display: inline; }

#links_menu a {
    padding: 5px 10px;
    display: inline-block;
    text-decoration: none;
	border-bottom: none;
}



#links_menu a:hover {
    background-color:rgba(32,178,170, 0.4);
    color: #088A08;
    border-bottom: 1px solid black;
}
	
body{
	background-color:#04B404;
    width: 80%;
	margin: auto;
					
				}
				
#grid_container{
	 display:grid;
	 grid-template-columns: 2fr 1fr; /*meu grid será dividido em 2 colunas, cada uma ocupando uma parte do espaço */
	 grid-template-rows: 1fr; /*meu grid será dividido em uma linha. */
	 background-color: rgba(255,255,255,0.3);
     padding: 15px;
	 margin-bottom: 15px;
	 border-radius: 10px;
                }
                
#coluna1{
	margin-right: 15px;
	text-align: justify;
				}
				
#coluna2{
    text-align: center;
				    
				}

