body{
	background: linear-gradient(#2E8B57,#3CB371);	
}	

main{
	padding: 0px;
	margin: 80px 50px 80px 200px;
}
h1{ 
	color: white;
	text-shadow: 2px -1px 10px black;
}	

a{
	text-decoration: none;
	border-bottom: 1px solid gray;
	color: #4169E1;
	padding: 2px;
}
section{
	height: 500%;
	width: 80%;
	background: white;
	padding: 15px;
	border-radius: 15px;
	font-family:verdana;
	text-align:center;
}

	h3{
		color: #2F4F4F;
	}
	
#links-news{
	text-align:center;
}
	
#links-news ul {
list-style-type:none;
margin:0;
padding:0;
width:800px;
}


#links-news li {
border:1px dotted #999;
border-width:1px 0;
margin:5px 0;
}


#links-news li a {
color:#990000;
display:block;
font:bold 14px Arial, Helvetica, sans-serif;
padding:5px;
text-decoration:none;
}

 
* html #links-news li a {width:400px; text-align:center;} /*Necessario para que funcione no IE6*/

#links-news li a:hover {
background-color:#ffffcc;
}
 
 