body{
	background: linear-gradient(#2E8B57,#3CB371);
}

#menu {
	text-align:center;
	background:linear-gradient(#2E8B57,#3CB371);
	width:;
	padding:5px; 
}	
#menu ul{
	padding: 0px;
	margin: 0px;
	list-style:none;
	font-family: verdana;
}

#menu ul li{display: inline; font-family:verdana;}

#menu a{
	padding: 7px 10px;
	display: inline-block;
	text-decoration: none;
	border-bottom: none;
	color: #A9F482;
}
#menu a:hover{
		background-color: #00688B;
		color: #F0FFF0;
		border-bottom: 1px solid black;
}
